 
.style-error {
    color: #ffffff !important;
    --mdc-snackbar-container-color: #f23a2f !important;
}

.style-success {
    color: #ffffff  !important;
    --mdc-snackbar-container-color: #43a446 !important;
}
.mat-grid-tile-content{
    align-items: baseline !important;
}