<div class="flex flex-col w-full overflow-auto bg-card">

    <div class="flex flex-col p-6">
        <mat-accordion class="mt-1" [multi]="true" #accordion="matAccordion">
            <ng-container>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header [collapsedHeight]="'56px'">
                        <mat-panel-title class="font-medium leading-tight">Primary Information</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div style="height:50vh;overflow-y: scroll;">
                        <mat-grid-list gutterSize="16px" [cols]="isScreenSmall ? 1 : 3" rowHeight="100px">
                            <mat-grid-tile [colspan]="1">
                                <mat-form-field class="flex-auto w-full" [subscriptSizing]="'dynamic'">
                                    <mat-label><span style="color:red;">*</span>Full Name</mat-label>
                                    <input matInput name="NAME" [(ngModel)]="selectedVisitor.NAME
                        " [placeholder]="'Full Name'" [disabled]="true"/>
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>

                        <!-- Emails -->
                        <mat-grid-list gutterSize="16px" [cols]="isScreenSmall ? 1 : 3" rowHeight="100px">

                            <mat-grid-tile [colspan]="1">
                                <mat-form-field class="flex-auto" [subscriptSizing]="'dynamic'">
                                    <mat-label><span style="color:red;">*</span>Length</mat-label>
                                    <input matInput minlength="0" name="Length" [(ngModel)]="selectedVisitor.LENGTH"
                                        [placeholder]="'Length'" [disabled]="true"/>
                                    <mat-select class="mr-1" name="LENGTH_UNIT" style="width:100px;" matSuffix
                                        [(ngModel)]="selectedVisitor.LENGTH_UNIT"  >
                                        <ng-container>
                                            <mat-option [value]="'F'">Feet
                                            </mat-option>
                                            <mat-option [value]="'M'">Meter
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="1">
                                <mat-form-field class="flex-auto" [subscriptSizing]="'dynamic'">
                                    <mat-label><span style="color:red;">*</span>Width</mat-label>
                                    <input matInput minlength="0" name="Length" [(ngModel)]="selectedVisitor.WIDTH"
                                        [placeholder]="'Length'" [disabled]="true"/>
                                    <mat-select class="mr-1" name="LENGTH_UNIT" style="width:100px;" matSuffix
                                        [(ngModel)]="selectedVisitor.WIDTH_UNIT">
                                        <ng-container>
                                            <mat-option [value]="'F'">Feet
                                            </mat-option>
                                            <mat-option [value]="'M'">Meter
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </mat-grid-tile>


                            <!-- Shoot Type -->
                            <mat-grid-tile [colspan]="1">
                                <mat-form-field class="flex-auto w-full" [subscriptSizing]="'dynamic'">
                                    <mat-label><span style="color:red;">*</span>Shoot Type</mat-label>
                                    <mat-select name="CATEGORIES" [(ngModel)]="selectedVisitor.SHOOT_TYPE" [disabled]="true">
                                        <ng-container *ngFor="let vendor of Cetegory">
                                            <mat-option [value]="vendor">
                                                {{ vendor}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <!-- </mat-grid-list> -->
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel style="padding: 0px !important" [expanded]="true">
                    <mat-expansion-panel-header [collapsedHeight]="'56px'">
                        <mat-panel-title class="font-medium leading-tight">Connected Information</mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-grid-list [cols]="isScreenSmall ? 1 : 3" rowHeight="260px">
                        <!-- first list -->
                        <mat-grid-tile>
                            <div style="
                                height: 100%;
                                width: 100%;
                                padding: 0px 5px;
                            ">
                                <mat-grid-list cols="1" rowHeight="40px">
                                    <mat-grid-tile>
                                        <button mat-flat-button style="
                                            border-style: solid;
                                            border-width: thin;
                                            width: 96%;
                                            margin: 5px;
                                        ">
                                            Schedule
                                        </button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="1" rowHeight="210px">
                                    <mat-grid-tile>
                                        <ng-container>
                                            <div class="space-y-2" style="
                                                width: 100%;
                                                overflow-y: scroll;
                                                height: 200px;
                                                padding: 5px;
                                            " cdkTextareaAutosize>
                                                <mat-card style="padding-top: 7px">
                                                    <mat-grid-list [cols]="6" rowHeight="30px">

                                                        <mat-grid-tile [colspan]="6" class="detailed_card_content">
                                                            <b>Name</b>
                                                        </mat-grid-tile>
                                                        <!-- <mat-grid-tile [colspan]="3" class="detailed_card_content">
                                                    </mat-grid-tile> -->

                                                        <mat-grid-tile [colspan]="6" class="detailed_card_content">
                                                            website.com
                                                        </mat-grid-tile>
                                                        <!-- <mat-grid-tile [colspan]="3" class="detailed_card_content">
                                                    </mat-grid-tile> -->

                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            City
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            State
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            Country
                                                        </mat-grid-tile>
                                                    </mat-grid-list>
                                                </mat-card>
                                                <br />
                                                <mat-card style="padding-top: 7px">
                                                    <mat-grid-list [cols]="6" rowHeight="30px">

                                                        <mat-grid-tile [colspan]="6" class="detailed_card_content">
                                                            <b>Name</b>
                                                        </mat-grid-tile>

                                                        <mat-grid-tile [colspan]="6" class="detailed_card_content">
                                                            website.com
                                                        </mat-grid-tile>

                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            City
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            State
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            Country
                                                        </mat-grid-tile>
                                                    </mat-grid-list>
                                                </mat-card>
                                            </div>
                                        </ng-container>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-expansion-panel>

                <mat-expansion-panel style="padding: 0px !important" [expanded]="true">
                    <mat-expansion-panel-header [collapsedHeight]="'56px'">
                        <mat-panel-title class="font-medium leading-tight">Related Information</mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-grid-list [cols]="isScreenSmall ? 1 : 3" rowHeight="260px">
                        <!-- first list -->
                        <mat-grid-tile>
                            <div style="
                                height: 100%;
                                width: 100%;
                                padding: 0px 5px;
                            ">
                                <mat-grid-list cols="1" rowHeight="40px">
                                    <mat-grid-tile>
                                        <button mat-flat-button style="
                                            border-style: solid;
                                            border-width: thin;
                                            width: 96%;
                                            margin: 5px;
                                        ">
                                            Order
                                        </button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="1" rowHeight="210px">
                                    <mat-grid-tile>
                                        <ng-container>
                                            <div class="space-y-2" style="
                                                width: 100%;
                                                overflow-y: scroll;
                                                height: 200px;
                                                padding: 5px;
                                            " cdkTextareaAutosize>
                                                <mat-card style="padding-top: 7px">
                                                    <mat-grid-list [cols]="6" rowHeight="30px">

                                                        <mat-grid-tile [colspan]="6" class="detailed_card_content">
                                                            <b>Name</b>
                                                        </mat-grid-tile>

                                                        <mat-grid-tile [colspan]="6" class="detailed_card_content">
                                                            website.com
                                                        </mat-grid-tile>

                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            City
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            State
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            Country
                                                        </mat-grid-tile>
                                                    </mat-grid-list>
                                                </mat-card>
                                                <br />
                                                <mat-card style="padding-top: 7px">
                                                    <mat-grid-list [cols]="6" rowHeight="30px">

                                                        <mat-grid-tile [colspan]="6" class="detailed_card_content">
                                                            <b>Name</b>
                                                        </mat-grid-tile>

                                                        <mat-grid-tile [colspan]="6" class="detailed_card_content">
                                                            website.com
                                                        </mat-grid-tile>

                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            City
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            State
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            Country
                                                        </mat-grid-tile>
                                                    </mat-grid-list>
                                                </mat-card>
                                            </div>
                                        </ng-container>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div style="
                                height: 100%;
                                width: 100%;
                                padding: 0px 5px;
                            ">
                                <mat-grid-list cols="1" rowHeight="40px">
                                    <mat-grid-tile>
                                        <button mat-flat-button style="
                                            border-style: solid;
                                            border-width: thin;
                                            width: 96%;
                                            margin: 5px;
                                        ">
                                            Order
                                        </button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="1" rowHeight="210px">
                                    <mat-grid-tile>
                                        <ng-container>
                                            <div class="space-y-2" style="
                                                width: 100%;
                                                overflow-y: scroll;
                                                height: 200px;
                                                padding: 5px;
                                            " cdkTextareaAutosize>
                                                <mat-card style="padding-top: 7px">
                                                    <mat-grid-list [cols]="6" rowHeight="30px">

                                                        <mat-grid-tile [colspan]="6" class="detailed_card_content">
                                                            <b>Name</b>
                                                        </mat-grid-tile>

                                                        <mat-grid-tile [colspan]="6" class="detailed_card_content">
                                                            website.com
                                                        </mat-grid-tile>

                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            City
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            State
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            Country
                                                        </mat-grid-tile>
                                                    </mat-grid-list>
                                                </mat-card>
                                                <br />
                                                <mat-card style="padding-top: 7px">
                                                    <mat-grid-list [cols]="6" rowHeight="30px">

                                                        <mat-grid-tile [colspan]="6" class="detailed_card_content">
                                                            <b>Name</b>
                                                        </mat-grid-tile>

                                                        <mat-grid-tile [colspan]="6" class="detailed_card_content">
                                                            website.com
                                                        </mat-grid-tile>

                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            City
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            State
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            Country
                                                        </mat-grid-tile>
                                                    </mat-grid-list>
                                                </mat-card>
                                            </div>
                                        </ng-container>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div style="
                                height: 100%;
                                width: 100%;
                                padding: 0px 5px;
                            ">
                                <mat-grid-list cols="1" rowHeight="40px">
                                    <mat-grid-tile>
                                        <button mat-flat-button style="
                                            border-style: solid;
                                            border-width: thin;
                                            width: 96%;
                                            margin: 5px;
                                        ">
                                            Order
                                        </button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="1" rowHeight="210px">
                                    <mat-grid-tile>
                                        <ng-container>
                                            <div class="space-y-2" style="
                                                width: 100%;
                                                overflow-y: scroll;
                                                height: 200px;
                                                padding: 5px;
                                            " cdkTextareaAutosize>
                                                <mat-card style="padding-top: 7px">
                                                    <mat-grid-list [cols]="6" rowHeight="30px">

                                                        <mat-grid-tile [colspan]="6" class="detailed_card_content">
                                                            <b>Name</b>
                                                        </mat-grid-tile>

                                                        <mat-grid-tile [colspan]="6" class="detailed_card_content">
                                                            website.com
                                                        </mat-grid-tile>

                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            City
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            State
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            Country
                                                        </mat-grid-tile>
                                                    </mat-grid-list>
                                                </mat-card>
                                                <br />
                                                <mat-card style="padding-top: 7px">
                                                    <mat-grid-list [cols]="6" rowHeight="30px">

                                                        <mat-grid-tile [colspan]="6" class="detailed_card_content">
                                                            <b>Name</b>
                                                        </mat-grid-tile>

                                                        <mat-grid-tile [colspan]="6" class="detailed_card_content">
                                                            website.com
                                                        </mat-grid-tile>

                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            City
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            State
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="2" class="detailed_card_content">
                                                            Country
                                                        </mat-grid-tile>
                                                    </mat-grid-list>
                                                </mat-card>
                                            </div>
                                        </ng-container>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>

                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>
    </div>

    <!-- Actions -->
    <div *ngIf="
                selectedVisitor.ID != undefined &&
                selectedVisitor.ID > 0 &&
                deleteShow == true
            " style="width: 100%; position: absolute; bottom: 0px; right: 6%"
        class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
        <div style="text-align: center; width: 100%">
            <span>
                To delete the above informartion, Please solve below question.
            </span> <br><br>
            <span style="margin-right: 10px">{{ value }} + {{ value2 }} =
            </span>
            <mat-form-field style="width: 110px" [subscriptSizing]="'dynamic'">
                <input matInput type="number" min="0" name="Answer" style="width: 110px !important" [(ngModel)]="answer"
                    [placeholder]="'Answer'" />
            </mat-form-field>
            <button class="ml-2" mat-flat-button [color]="'warn'" [matTooltip]="'Delete'" (click)="deleteInfo()">
                Delete
            </button>
        </div>
    </div>
</div>