<div class="flex flex-col p-6">
    <mat-accordion class="mt-1">
        <ng-container>
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header [collapsedHeight]="'56px'">
                    <mat-panel-title class="font-medium leading-tight"
                        >Primary Information</mat-panel-title
                    >
                </mat-expansion-panel-header>
                <mat-grid-list
                    gutterSize="16px"
                    [cols]="isScreenSmall ? 1 : 3"
                    rowHeight="100px"
                >
                   

                <mat-grid-tile [colspan]="1" style="margin-top:8px" >
                    <mat-form-field class="flex-auto w-full" >
                        <mat-label><span style="color:red;">*</span>Website </mat-label>
                        <span matPrefix>https://</span>
                        <input
                          matInput
                          name="USER_NAME"
                          [(ngModel)]="selectedCustomer.WEBSITE_URL"
                          [disabled]="isTileDisabled"
                        />
                      </mat-form-field>
                      
                </mat-grid-tile>


                <mat-grid-tile [colspan]="1">
                    <div class="socialMediaInput">
                        <mat-label><span style="color:red;">*</span>Social Media Url's</mat-label>
                        <div *ngFor="let input of inputs; let i = index" class="flex">
                            <mat-form-field class="flex-auto w-full">
                               
                                <input matInput  [disabled]="isTileDisabled" [(ngModel)]="input.value" name="Input" style="margin-bottom: 5px;">
                                <button mat-icon-button color="warn" (click)="removeInput(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-form-field>
                            <span (click)="addInput()" class="addIcon">
                                <mat-icon>add_circle</mat-icon>

                            </span>
                        </div>
                    </div>
                </mat-grid-tile>


               




                <mat-grid-tile [colspan]="1" style="margin-top:8px">
                    <mat-form-field class="flex-auto w-full">
                        <mat-label><span style="color:red;">*</span>Tax/Vat Number </mat-label>
                        <input
                          matInput
                          name="USER_NAME"
                          [(ngModel)]="selectedCustomer.TAX_NUMBER"
                          [disabled]="isTileDisabled"
                        />
                      </mat-form-field>
                      
                </mat-grid-tile>


                <mat-grid-tile [colspan]="1" style="margin-top:8px">
                    <mat-form-field class="flex-auto w-full">
                        <mat-label><span style="color:red;">*</span>Address Line 1 </mat-label>
                       
                        <input
                          matInput
                          name="USER_NAME"
                          [(ngModel)]="selectedCustomer.ADDRESS_LINE1"
                          [disabled]="isTileDisabled"
                        />
                      </mat-form-field>
                      
                </mat-grid-tile>


                <mat-grid-tile [colspan]="1" style="margin-top:8px">
                    <mat-form-field class="flex-auto w-full">
                        <mat-label><span style="color:red;">*</span>Address Line 2 </mat-label>
                       
                        <input
                          matInput
                          name="USER_NAME"
                          [(ngModel)]="selectedCustomer.ADDRESS_LINE2"
                          [disabled]="isTileDisabled"
                        />
                      </mat-form-field>
                      
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" style="margin-top:8px">
                    <mat-form-field class="flex-auto w-full">
                        <mat-label><span style="color:red;">*</span>City </mat-label>
                       
                        <input
                          matInput
                          name="USER_NAME"
                          [disabled]="isTileDisabled"
                          [(ngModel)]="selectedCustomer.CITY"
                        />
                      </mat-form-field>
                      
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" >
                    <mat-form-field class="flex-auto w-full" [subscriptSizing]="'dynamic'">
                        <mat-label >
                            <span style="color:red;">*</span>Country</mat-label>
                        <mat-select name="COUNTRY"  [(ngModel)]="selectedCustomer.COUNTRY" [disabled]="isTileDisabled">
                                <ng-container *ngFor=" let country of Countries_Name " >
                                    <mat-option [value]="country" >
                                        {{ country }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" >
                    <mat-form-field class="flex-auto w-full" [subscriptSizing]="'dynamic'">
                        <mat-label >
                            <span style="color:red;">*</span>State</mat-label>
                        <mat-select name="COUNTRY"  [(ngModel)]="selectedCustomer.STATE" [disabled]="isTileDisabled">
                                <ng-container *ngFor=" let state of statesInIndia " >
                                    <mat-option [value]="state" >
                                        {{ state }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                  <mat-grid-tile [colspan]="1" style="margin-top:8px">
                    <mat-form-field class="flex-auto w-full">
                        <mat-label><span style="color:red;">*</span>Pincode/zip </mat-label>
                        <input
                          matInput
                          name="USER_NAME"
                          [(ngModel)]="selectedCustomer.PINCODE"
                          [disabled]="isTileDisabled"
                        />
                      </mat-form-field>
                      
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" style="margin-top:8px">
                    <mat-form-field class="flex-auto w-full">
                        <mat-label><span style="color:red;">*</span>Geo Location </mat-label>
                        <span matPrefix><mat-icon>location_on</mat-icon></span>
                        <input
                          matInput
                          name="USER_NAME"
                          [(ngModel)]="selectedCustomer.LOCATION"
                          [disabled]="isTileDisabled"
                        />
                      </mat-form-field>
                </mat-grid-tile>


                    <mat-grid-tile [colspan]="1">
                        <div  class="flex items-center justify-center w-32 h-32 rounded-full ring-4 ring-bg-card">
                          <img style="height: 130px;"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhdbyLuigk_nkMr3nDCb0j0zYexX2Pm6Iz-DAg9TMFC7BdtD954OvPXkoeMSVs7IfcMxM&usqp=CAU"
                            id="avatar-preview" alt="Preview">
                      
                          <div *ngIf="!is_ChooseOptions" class=" items-center ml-auto mb-1" style="position:relative;left:20px;top:11px">
                            <button mat-stroked-button (click)="toggleEdit($event)">
                              <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                              <span class="ml-2">Edit</span>
                            </button>
                          </div>
                          <div style="display: flex;margin: 10px 0px 0px 28px" *ngIf="is_ChooseOptions">
                      
                            <div>
                              <input
                                id="avatar-file-input"
                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                type="file"
                                [multiple]="false"
                                [accept]="'image/jpeg, image/png'"
                                #avatarFileInput
                                (change)="previewImage($event)"
                                [disabled]="isTileDisabled"
                                >
                              <label
                                class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                for="avatar-file-input"
                                matRipple>
                                <mat-icon
                                  class="text-black"
                                  [svgIcon]="'heroicons_outline:camera'">camera</mat-icon>
                              </label>
                            </div>
                            <div>
                              <button
                              [disabled]="isTileDisabled"
                                mat-icon-button
                                (click)="removeAvatar()">
                                <mat-icon
                                  class="text-black"
                                  [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </mat-grid-tile>
                   
                </mat-grid-list>
                
            </mat-expansion-panel>
            
            
            
            
            
            
            
            
            <mat-expansion-panel style="padding: 0px !important" >
                <mat-expansion-panel-header [collapsedHeight]="'56px'">
                    <mat-panel-title class="font-medium leading-tight"
                        >Connected Information</mat-panel-title
                    >
                </mat-expansion-panel-header>

                <mat-grid-list
                    [cols]="isScreenSmall ? 1 : 3"
                    rowHeight="260px"
                >
                    <mat-grid-tile>
                        <div
                            style="
                                height: 100%;
                                width: 100%;
                                padding: 0px 5px;
                            "
                        >
                            <mat-grid-list cols="1" rowHeight="40px">
                                <mat-grid-tile>
                                    <button
                                        mat-flat-button
                                        style="
                                            border-style: solid;
                                            border-width: thin;
                                            width: 96%;
                                            margin: 5px;
                                        "
                                    >
                                        Studio
                                    </button>
                                </mat-grid-tile>
                            </mat-grid-list>
                            <mat-grid-list cols="1" rowHeight="210px">
                                <mat-grid-tile>
                                    <ng-container>
                                        <div
                                            class="space-y-2"
                                            style="
                                                width: 100%;
                                                overflow-y: scroll;
                                                height: 200px;
                                                padding: 5px;
                                            "
                                            cdkTextareaAutosize
                                        >
                                            <mat-card
                                                style="padding-top: 7px"
                                            >
                                                <mat-grid-list
                                                    [cols]="7"
                                                    rowHeight="30px"
                                                >
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    >
                                                        <mat-checkbox
                                                            style="
                                                                margin-top: -8px;
                                                            "
                                                        ></mat-checkbox>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="5"
                                                        style="
                                                            padding: 5px !important;
                                                        "
                                                    >
                                                        <b>Name</b>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    >
                                                        <span>
                                                            <mat-icon
                                                                [matTooltip]="
                                                                    'Edit Information'
                                                                "
                                                                class="icon-size-5"
                                                                [svgIcon]="
                                                                    'heroicons_solid:pencil-alt'
                                                                "
                                                            ></mat-icon>
                                                        </span>

                                                        <span>
                                                            <mat-icon
                                                                [matTooltip]="
                                                                    'Delete Information'
                                                                "
                                                                class="icon-size-5"
                                                                [svgIcon]="
                                                                    'heroicons_outline:trash'
                                                                "
                                                            ></mat-icon>
                                                        </span>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    ></mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="6"
                                                    >
                                                        website.com
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    ></mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        City
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        State
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        Country
                                                    </mat-grid-tile>
                                                </mat-grid-list>
                                            </mat-card>
                                            <br />
                                            <mat-card
                                                style="padding-top: 7px"
                                            >
                                                <mat-grid-list
                                                    [cols]="7"
                                                    rowHeight="30px"
                                                >
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    >
                                                        <mat-checkbox
                                                            style="
                                                                margin-top: -8px;
                                                            "
                                                        ></mat-checkbox>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="5"
                                                        style="
                                                            padding: 5px !important;
                                                        "
                                                    >
                                                        <b>Name</b>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    >
                                                        <span>
                                                            <mat-icon
                                                                [matTooltip]="
                                                                    'Edit Information'
                                                                "
                                                                class="icon-size-5"
                                                                [svgIcon]="
                                                                    'heroicons_solid:pencil-alt'
                                                                "
                                                            ></mat-icon>
                                                        </span>

                                                        <span>
                                                            <mat-icon
                                                                [matTooltip]="
                                                                    'Delete Information'
                                                                "
                                                                class="icon-size-5"
                                                                [svgIcon]="
                                                                    'heroicons_outline:trash'
                                                                "
                                                            ></mat-icon>
                                                        </span>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    ></mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="6"
                                                    >
                                                        website.com
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    ></mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        City
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        State
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        Country
                                                    </mat-grid-tile>
                                                </mat-grid-list>
                                            </mat-card>
                                        </div>
                                    </ng-container>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </mat-grid-tile>
                    <!-- first list -->

                </mat-grid-list>
            </mat-expansion-panel>


            <mat-expansion-panel style="padding: 0px !important" >
                <mat-expansion-panel-header [collapsedHeight]="'56px'">
                    <mat-panel-title class="font-medium leading-tight"
                        >Related Information</mat-panel-title
                    >
                </mat-expansion-panel-header>

                <mat-grid-list
                    [cols]="isScreenSmall ? 1 : 3"
                    rowHeight="260px"
                >
                    <!-- first list -->
                    <mat-grid-tile>
                        <div
                            style="
                                height: 100%;
                                width: 100%;
                                padding: 0px 5px;
                            "
                        >
                            <mat-grid-list cols="1" rowHeight="40px">
                                <mat-grid-tile>
                                    <button
                                        mat-flat-button
                                        style="
                                            border-style: solid;
                                            border-width: thin;
                                            width: 96%;
                                            margin: 5px;
                                        "
                                    >
                                        Invoices
                                    </button>
                                </mat-grid-tile>
                            </mat-grid-list>
                            <mat-grid-list cols="1" rowHeight="210px">
                                <mat-grid-tile>
                                    <ng-container>
                                        <div
                                            class="space-y-2"
                                            style="
                                                width: 100%;
                                                overflow-y: scroll;
                                                height: 200px;
                                                padding: 5px;
                                            "
                                            cdkTextareaAutosize
                                        >
                                            <mat-card
                                                style="padding-top: 7px"
                                            >
                                                <mat-grid-list
                                                    [cols]="7"
                                                    rowHeight="30px"
                                                >
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    >
                                                        <mat-checkbox
                                                            style="
                                                                margin-top: -8px;
                                                            "
                                                        ></mat-checkbox>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="5"
                                                        style="
                                                            padding: 5px !important;
                                                        "
                                                    >
                                                        <b>Name</b>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    >
                                                        <span>
                                                            <mat-icon
                                                                [matTooltip]="
                                                                    'Edit Information'
                                                                "
                                                                class="icon-size-5"
                                                                [svgIcon]="
                                                                    'heroicons_solid:pencil-alt'
                                                                "
                                                            ></mat-icon>
                                                        </span>

                                                        <span>
                                                            <mat-icon
                                                                [matTooltip]="
                                                                    'Delete Information'
                                                                "
                                                                class="icon-size-5"
                                                                [svgIcon]="
                                                                    'heroicons_outline:trash'
                                                                "
                                                            ></mat-icon>
                                                        </span>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    ></mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="6"
                                                    >
                                                        website.com
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    ></mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        City
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        State
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        Country
                                                    </mat-grid-tile>
                                                </mat-grid-list>
                                            </mat-card>
                                            <br />
                                            <mat-card
                                                style="padding-top: 7px"
                                            >
                                                <mat-grid-list
                                                    [cols]="7"
                                                    rowHeight="30px"
                                                >
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    >
                                                        <mat-checkbox
                                                            style="
                                                                margin-top: -8px;
                                                            "
                                                        ></mat-checkbox>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="5"
                                                        style="
                                                            padding: 5px !important;
                                                        "
                                                    >
                                                        <b>Name</b>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    >
                                                        <span>
                                                            <mat-icon
                                                                [matTooltip]="
                                                                    'Edit Information'
                                                                "
                                                                class="icon-size-5"
                                                                [svgIcon]="
                                                                    'heroicons_solid:pencil-alt'
                                                                "
                                                            ></mat-icon>
                                                        </span>

                                                        <span>
                                                            <mat-icon
                                                                [matTooltip]="
                                                                    'Delete Information'
                                                                "
                                                                class="icon-size-5"
                                                                [svgIcon]="
                                                                    'heroicons_outline:trash'
                                                                "
                                                            ></mat-icon>
                                                        </span>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    ></mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="6"
                                                    >
                                                        website.com
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    ></mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        City
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        State
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        Country
                                                    </mat-grid-tile>
                                                </mat-grid-list>
                                            </mat-card>
                                        </div>
                                    </ng-container>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </mat-grid-tile>
                    <!-- first list -->

                    <!-- second list  -->
                    <mat-grid-tile>
                        <div
                            style="
                                height: 100%;
                                width: 100%;
                                padding: 0px 5px;
                            "
                        >
                            <mat-grid-list cols="1" rowHeight="40px">
                                <mat-grid-tile>
                                    <button
                                        mat-flat-button
                                        style="
                                            border-style: solid;
                                            border-width: thin;
                                            width: 96%;
                                            margin: 5px;
                                        "
                                    >
                                        Dues
                                    </button>
                                </mat-grid-tile>
                            </mat-grid-list>
                            <mat-grid-list cols="1" rowHeight="210px">
                                <mat-grid-tile>
                                    <ng-container>
                                        <div
                                            class="space-y-2"
                                            style="
                                                width: 100%;
                                                overflow-y: scroll;
                                                height: 200px;
                                                padding: 5px;
                                            "
                                            cdkTextareaAutosize
                                        >
                                            <mat-card
                                                style="padding-top: 7px"
                                            >
                                                <mat-grid-list
                                                    [cols]="7"
                                                    rowHeight="30px"
                                                >
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    >
                                                        <mat-checkbox
                                                            style="
                                                                margin-top: -8px;
                                                            "
                                                        ></mat-checkbox>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="5"
                                                        style="
                                                            padding: 5px !important;
                                                        "
                                                    >
                                                        <b>Name</b>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    >
                                                        <span>
                                                            <mat-icon
                                                                [matTooltip]="
                                                                    'Edit Information'
                                                                "
                                                                class="icon-size-5"
                                                                [svgIcon]="
                                                                    'heroicons_solid:pencil-alt'
                                                                "
                                                            ></mat-icon>
                                                        </span>

                                                        <span>
                                                            <mat-icon
                                                                [matTooltip]="
                                                                    'Delete Information'
                                                                "
                                                                class="icon-size-5"
                                                                [svgIcon]="
                                                                    'heroicons_outline:trash'
                                                                "
                                                            ></mat-icon>
                                                        </span>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    ></mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="6"
                                                    >
                                                        website.com
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    ></mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        City
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        State
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        Country
                                                    </mat-grid-tile>
                                                </mat-grid-list>
                                            </mat-card>
                                            <br />
                                            <mat-card
                                                style="padding-top: 7px"
                                            >
                                                <mat-grid-list
                                                    [cols]="7"
                                                    rowHeight="30px"
                                                >
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    >
                                                        <mat-checkbox
                                                            style="
                                                                margin-top: -8px;
                                                            "
                                                        ></mat-checkbox>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="5"
                                                        style="
                                                            padding: 5px !important;
                                                        "
                                                    >
                                                        <b>Name</b>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    >
                                                        <span>
                                                            <mat-icon
                                                                [matTooltip]="
                                                                    'Edit Information'
                                                                "
                                                                class="icon-size-5"
                                                                [svgIcon]="
                                                                    'heroicons_solid:pencil-alt'
                                                                "
                                                            ></mat-icon>
                                                        </span>

                                                        <span>
                                                            <mat-icon
                                                                [matTooltip]="
                                                                    'Delete Information'
                                                                "
                                                                class="icon-size-5"
                                                                [svgIcon]="
                                                                    'heroicons_outline:trash'
                                                                "
                                                            ></mat-icon>
                                                        </span>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    ></mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="6"
                                                    >
                                                        website.com
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="1"
                                                    ></mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        City
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        State
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        Country
                                                    </mat-grid-tile>
                                                </mat-grid-list>
                                            </mat-card>
                                        </div>
                                    </ng-container>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </mat-grid-tile>
                    <!-- second list  -->
                </mat-grid-list>
            </mat-expansion-panel>

        </ng-container>
    </mat-accordion>
</div>
