<div class="flex flex-col p-6" style="height: 100%;overflow: auto;">
    <div class="flex flex-col w-full">
        <ng-container>





            <div  *ngIf="showFilterBox==true">  
                <!-- for filter seector  -->
                <div class="relative flex flex-col flex-auto items-center px-3">
                    <div class="w-full">
                      <form>
                        <!-- Name -->
                        <div class="mt-2">
                          <mat-grid-list
                            gutterSize="16px"
                            [cols]="isScreenSmall ? 1 : 12"
                            rowHeight="70px"
                          >
                            <mat-grid-tile [colspan]="2" >
                              <mat-form-field style="margin-top: 20px;">
                                <mat-select  [(ngModel)]="selectedOperator" name="selecteOperator" placeholder="Select Operator">
                                    <mat-option  *ngFor="let operator of operators"
                                     [value]="operator">
                                     {{ operator }}
                                    </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <!-- <span style="margin-top: 20px;padding-left: 10px;" class="WhenText">When</span> -->
                            </mat-grid-tile>
        
                            <mat-grid-tile [colspan]="1">
                                 <span style="padding-top: 10px;font-weight: bold;">When</span>
                            </mat-grid-tile>
                  
                            <mat-grid-tile [colspan]="2">
                              <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-select placeholder="Select Column"
                                                    [(ngModel)]="selectedColumn"
                                                    name="selectedColumn"
                                                >
                            <mat-option *ngFor="let colName of Select_columnName" [value]="colName">
                                {{ colName }}
                            </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </mat-grid-tile>
                  
                            <mat-grid-tile [colspan]="2" >
                              <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-select [(ngModel)]="selectedComparison" name="selectedComparison" placeholder="Select Comparison">
                                  <mat-option *ngFor="let Comparison of comparisons" [value]="Comparison">
                                    {{ Comparison }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </mat-grid-tile>
                  
                            <!-- <mat-grid-tile [colspan]="1">
                              <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-select  mat-select-filter [(ngModel)]="selectedValue" name="selectedValue" placeholder="Select a value">
                                  <mat-option *ngFor="let Value of values" [value]="Value">
                                    {{ Value }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </mat-grid-tile> -->
        
        
        
        
                            <mat-grid-tile [colspan]="3">
                                <mat-form-field
                                    class="flex-auto w-full"
                                    [subscriptSizing]="'dynamic'"
                                >
                                    <!-- <mat-label><span style="color:red;">*</span>Full Name</mat-label> -->
                                    <input
                                    matInput
                                    name="selectedValue"
                                    [(ngModel)]="selectedValue"
                                    [placeholder]="'Enter Value'"
                                    #NAME="ngModel"
                                />
                                </mat-form-field>
                            </mat-grid-tile>
        
                            <mat-grid-tile [colspan]="2">
                                <button  mat-raised-button color="primary" [matMenuTriggerFor]="menu">Insert Condition</button>
                                <mat-menu #menu="matMenu">
                                  <button mat-menu-item (click)="generateQuery()" >Insert Condition</button>
                                  <button mat-menu-item (click)="insertSubCondition()" >Insert Sub-condition</button>
                                </mat-menu>
                            </mat-grid-tile>
                  
                          </mat-grid-list>
                        </div>
                      </form>
                    </div>
                  
                  </div>
        
        
        
                  <!-- filter display  -->
                  <div *ngFor="let filterLine of filterList; let j = index">
                    <div class="filterborder">
                        <div
                        *ngFor="let tag of filterLine['tagList']; let i = index" 
                        style="display: flex"
                        >
                        <div class="filtertag">
                            <div>{{tag}}</div>
                            <mat-icon
                            class="delete-icon"
                             (click)="removeTagGroup(j,i)">close</mat-icon>
                        </div>
                        <div class="operator">{{ filterLine['tagList1'][i] }}</div>
                    </div>
                    </div>
                    <div>
                        <div class="operator" style="text-align: center;">{{ filterListOperators[j] }}</div>
                    </div>
                  </div>
        
            </div>

 <!-- filter display Button -->


    <div style="margin: 8px 0px 8px 0px;" >
        <div style="text-align: end;">
          
            <button
          class="inline-flex ml-3"
          mat-flat-button
          [color]="'primary'"
          style="width: 100px;"
          (click)="resetFilter()"
          >
          <span class="ml-2">Reset</span>
      </button>

      <button
          class="inline-flex ml-3"
          mat-flat-button
          [color]="'primary'"
          style="width: 100px;"
          (click)="createFilterQuery()"
          >
          <span class="ml-2">Create</span>
      </button>
      
        </div>
 </div>

  <!-- main -table  -->
  <div class="flex flex-auto overflow-hidden">
    <!-- Visitors list -->
    <div
        class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto"
    >
        <ng-container *ngIf="visitors$ | async as visitors">
            <ng-container *ngIf="visitors.length > 0; else noVisitors">
                <div class="overflow-x-auto mx-6">
                    <table
                        class="w-full bg-transparent"
                        mat-table
                        matSort
                        [dataSource]="recentTransactionsDataSource"
                        [trackBy]="trackByFn"
                        #visitorsTable
                    >
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="checkbox">
                            <th mat-header-cell *matHeaderCellDef style="min-width: 70px !important;
                            padding-right: 0px;
                            padding-left: 5px;">
                                <button
                                    mat-icon-button style="
                                    width: 20px !important;
                                "
                                    [matMenuTriggerFor]="menu"
                                    aria-label="Menu"
                                >
                                    <mat-icon style="position: relative;right: 4px;bottom: 6px;">sort</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <span class="example-list-section">
                                        <ul>
                                            <li
                                                *ngFor="
                                                    let col of visitorsTableColumns2;
                                                    let i = index;
                                                "
                                            >
                                                <mat-checkbox
                                                    [(ngModel)]="visitorsTableColumns2[i]['SHOW']"
                                                    name="column{{ i }}"
                                                    (ngModelChange)="
                                                        updateAllComplete(
                                                            $event,i
                                                        )
                                                    "
                                                >
                                                    {{ col.NAME }}
                                                </mat-checkbox>
                                            </li>
                                        </ul>
                                    </span>
                                </mat-menu>

                                <mat-checkbox
                                    name="selectall" class="selectall"
                                    (change)="
                                        $event ? toggleAllRows() : null
                                    "
                                    [checked]="
                                        selection.hasValue() &&
                                        isAllSelected()
                                    "
                                    [indeterminate]="
                                        selection.hasValue() &&
                                        !isAllSelected()
                                    "
                                    [aria-label]="checkboxLabel()"
                                >
                                </mat-checkbox>
                            </th>
                            <td mat-cell style="text-align: center !important;" *matCellDef="let row">
                                <mat-checkbox
                                    name="selectall{{ row.ID }}"
                                    (click)="$event.stopPropagation()"
                                    (change)="
                                        $event
                                            ? selection.toggle(row)
                                            : null
                                    "
                                    [checked]="selection.isSelected(row)"
                                    [aria-label]="checkboxLabel(row)"
                                >
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!-- Action -->
                        <ng-container matColumnDef="ACTION">
                            <th mat-header-cell *matHeaderCellDef>
                                Action
                            </th>
                            <td mat-cell *matCellDef="let visitor">
                                <span
                                    style="display: inline-flex"
                                    class="pr-6 font-medium text-sm text-secondary whitespace-nowrap"
                                >
                                    <div
                                        [matTooltip]="'View Visits'"
                                        (click)="viewVisitorLogs(visitor)"
                                        style="
                                            font-weight: 600;
                                            width: 45px;
                                            font-size: 14px;
                                        "
                                    >
                                        Visits
                                    </div>

                                    <span
                                        (click)="edit(visitor)"
                                        (click)="newvisitorDrawer2.toggle()"
                                    >
                                        <mat-icon
                                            [matTooltip]="
                                                'Edit Information'
                                            "
                                            class="icon-size-5"
                                            [svgIcon]="
                                                'heroicons_solid:pencil-alt'
                                            "
                                        ></mat-icon>
                                    </span>
                                    <span
                                        (click)="details(visitor)"
                                        (click)="visitorDrawer2.toggle()"
                                        ><mat-icon
                                            class="icon-size-5"
                                            [matTooltip]="
                                                'View Information'
                                            "
                                            aria-hidden="false"
                                            aria-label="Details"
                                            fontIcon="menu"
                                        ></mat-icon
                                    ></span>
                                    <span
                                        (click)="detailsDelete(visitor)"
                                        (click)="visitorDrawer2.toggle()"
                                    >
                                        <mat-icon
                                            [matTooltip]="
                                                'Delete Information'
                                            "
                                            class="icon-size-5"
                                            [svgIcon]="
                                                'heroicons_outline:trash'
                                            "
                                        ></mat-icon>
                                    </span>
                                </span>
                            </td>
                        </ng-container>
                        <!-- NAME -->
                        <ng-container matColumnDef="NAME">
                            <th mat-header-cell *matHeaderCellDef >
                                <div style="display:flex">
                                    <span  matTooltip="Filter" (click)="showMenu = !showMenu" matTooltipPosition="above" [matMenuTriggerFor]="menu" >
                                      <mat-icon style="font-size: 18px;margin: 0 6px 0 0;">filter_alt</mat-icon>
                                      </span>
                                    <span style="margin-top: 2px;"> Name </span>
                                   <span mat-sort-header sortActionDescription="Sort by NAME" style="margin:7px 0 0 6px"></span>
                                 </div>

                                 <mat-menu  #menu="matMenu" [overlapTrigger]="false" [hasBackdrop]="true" [class.menu-visible]="showMenu" (closed)="showMenu = false">
                                    <div (click)="stopClickPropagation($event)">
                                      <div id="filter-box">
                                        <div style="border-radius: 10px;border: 1px solid #d7d7d7;padding: 5px 0px 5px 6px;">
                                            <input class="searchInput" type="search" placeholder="Search...">
                                            <span class="searchIcon">
                                                <mat-icon style="position: relative;top: 4px;" class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                            </span>
                                        </div>
                                        <div style="margin: 10px 1px 1px 8px;">
                                            <label>
                                                <input type="checkbox" name="filter-1"> 
                                                <span>My Name 1</span> 
                                            </label>
                                            <label>
                                                <input type="checkbox" name="filter-2"> 
                                                <span>My Name 3</span> 
                                            </label>
                                            <label>
                                                <input type="checkbox" name="filter-3">
                                                <span>My Name 3</span> 
                                            </label>
                                        </div>
                                    </div>
                                    </div>
                                  </mat-menu>
                            </th>
                            <td mat-cell *matCellDef="let visitor">
                                <span class="pr-6 whitespace-nowrap">
                                    {{ visitor.NAME }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- EMAIL_ID -->
                        <ng-container matColumnDef="EMAIL_ID">
                            <th mat-header-cell *matHeaderCellDef >
                                <div style="display:flex">
                                    <span  matTooltip="Filter" (click)="showMenu = !showMenu" matTooltipPosition="above" [matMenuTriggerFor]="menu" >
                                      <mat-icon style="font-size: 18px;margin: 0 6px 0 0;">filter_alt</mat-icon>
                                      </span>
                                    <span style="margin-top: 2px;"> Email ID </span>
                                   <span mat-sort-header sortActionDescription="Sort by EMAIL_ID" style="margin:7px 0 0 6px"></span>
                                 </div>

                                 <mat-menu  #menu="matMenu" [overlapTrigger]="false" [hasBackdrop]="true" [class.menu-visible]="showMenu" (closed)="showMenu = false">
                                    <div (click)="stopClickPropagation($event)">
                                      <div id="filter-box">
                                        <div style="border-radius: 10px;border: 1px solid #d7d7d7;padding: 5px 0px 5px 6px;">
                                            <input class="searchInput" type="search" placeholder="Search...">
                                            <span class="searchIcon">
                                                <mat-icon style="position: relative;top: 4px;" class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                            </span>
                                        </div>
                                        <div style="margin: 10px 1px 1px 8px;">
                                            <label>
                                                <input type="checkbox" name="filter-1"> 
                                                <span>My Email ID 1</span> 
                                            </label>
                                            <label>
                                                <input type="checkbox" name="filter-2"> 
                                                <span>My Email ID 3</span> 
                                            </label>
                                            <label>
                                                <input type="checkbox" name="filter-3">
                                                <span>My Email ID 3</span> 
                                            </label>
                                        </div>
                                    </div>
                                    </div>
                                  </mat-menu>
                            <td mat-cell *matCellDef="let visitor">
                                <span class="pr-6 whitespace-nowrap">
                                    {{ visitor.EMAIL_ID }}
                                </span>
                            </td>
                        </ng-container> 

                        <!-- MOBILE_NO -->
                        <ng-container matColumnDef="MOBILE_NO">
                            <th mat-header-cell *matHeaderCellDef >
                                <div style="display:flex">
                                    <span  matTooltip="Filter" (click)="showMenu = !showMenu" matTooltipPosition="above" [matMenuTriggerFor]="menu" >
                                      <mat-icon style="font-size: 18px;margin: 0 6px 0 0;">filter_alt</mat-icon>
                                      </span>
                                    <span style="margin-top: 2px;"> Mobile No. </span>
                                   <span mat-sort-header sortActionDescription="Sort by MOBILE_NO" style="margin:7px 0 0 6px"></span>
                                 </div>

                                 <mat-menu  #menu="matMenu" [overlapTrigger]="false" [hasBackdrop]="true" [class.menu-visible]="showMenu" (closed)="showMenu = false">
                                    <div (click)="stopClickPropagation($event)">
                                      <div id="filter-box">
                                        <div style="border-radius: 10px;border: 1px solid #d7d7d7;padding: 5px 0px 5px 6px;">
                                            <input class="searchInput" type="search" placeholder="Search...">
                                            <span class="searchIcon">
                                                <mat-icon style="position: relative;top: 4px;" class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                            </span>
                                        </div>
                                        <div style="margin: 10px 1px 1px 8px;">
                                            <label>
                                                <input type="checkbox" name="filter-1"> 
                                                <span>My Name 1</span> 
                                            </label>
                                            <label>
                                                <input type="checkbox" name="filter-2"> 
                                                <span>My Name 3</span> 
                                            </label>
                                            <label>
                                                <input type="checkbox" name="filter-3">
                                                <span>My Name 3</span> 
                                            </label>
                                        </div>
                                    </div>
                                    </div>
                                  </mat-menu>
                            </th>
                            <td mat-cell *matCellDef="let visitor">
                                <span class="pr-6 whitespace-nowrap">
                                    {{ visitor.CODE }}
                                    {{ visitor.MOBILE_NO }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- COMPANY_NAME -->
                        <ng-container matColumnDef="COMPANY_NAME">
                            <th mat-header-cell *matHeaderCellDef >
                                <div style="display:flex;width: 164px;">
                                    <span  matTooltip="Filter" (click)="showMenu = !showMenu" matTooltipPosition="above" [matMenuTriggerFor]="menu" >
                                      <mat-icon style="font-size: 18px;margin: 0 6px 0 0;">filter_alt</mat-icon>
                                      </span>
                                    <span style="margin-top: 2px;"> Company Name </span>
                                   <span mat-sort-header sortActionDescription="Sort by COMPANY_NAME" style="margin:7px 0 0 6px"></span>
                                 </div>

                                 <mat-menu  #menu="matMenu" [overlapTrigger]="false" [hasBackdrop]="true" [class.menu-visible]="showMenu" (closed)="showMenu = false">
                                    <div (click)="stopClickPropagation($event)">
                                      <div id="filter-box">
                                        <div style="border-radius: 10px;border: 1px solid #d7d7d7;padding: 5px 0px 5px 6px;">
                                            <input class="searchInput" type="search" placeholder="Search...">
                                            <span class="searchIcon">
                                                <mat-icon style="position: relative;top: 4px;" class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                            </span>
                                        </div>
                                        <div style="margin: 10px 1px 1px 8px;">
                                            <label>
                                                <input type="checkbox" name="filter-1"> 
                                                <span>My Name 1</span> 
                                            </label>
                                            <label>
                                                <input type="checkbox" name="filter-2"> 
                                                <span>My Name 3</span> 
                                            </label>
                                            <label>
                                                <input type="checkbox" name="filter-3">
                                                <span>My Name 3</span> 
                                            </label>
                                        </div>
                                    </div>
                                    </div>
                                  </mat-menu>
                            </th>
                            <td mat-cell *matCellDef="let visitor">
                                <span class="pr-6 whitespace-nowrap">
                                    {{ visitor.COMPANY_NAME }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- DESIGNATION -->
                        <ng-container matColumnDef="DESIGNATION">
                            <th mat-header-cell *matHeaderCellDef >
                                <div style="display:flex">
                                    <span  matTooltip="Filter" (click)="showMenu = !showMenu" matTooltipPosition="above" [matMenuTriggerFor]="menu" >
                                      <mat-icon style="font-size: 18px;margin: 0 6px 0 0;">filter_alt</mat-icon>
                                      </span>
                                    <span style="margin-top: 2px;"> Profession </span>
                                   <span mat-sort-header sortActionDescription="Sort by DESIGNATION" style="margin:7px 0 0 6px"></span>
                                 </div>

                                 <mat-menu  #menu="matMenu" [overlapTrigger]="false" [hasBackdrop]="true" [class.menu-visible]="showMenu" (closed)="showMenu = false">
                                    <div (click)="stopClickPropagation($event)">
                                      <div id="filter-box">
                                        <div style="border-radius: 10px;border: 1px solid #d7d7d7;padding: 5px 0px 5px 6px;">
                                            <input class="searchInput" type="search" placeholder="Search...">
                                            <span class="searchIcon">
                                                <mat-icon style="position: relative;top: 4px;" class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                            </span>
                                        </div>
                                        <div style="margin: 10px 1px 1px 8px;">
                                            <label>
                                                <input type="checkbox" name="filter-1"> 
                                                <span>profession 1</span> 
                                            </label>
                                            <label>
                                                <input type="checkbox" name="filter-2"> 
                                                <span>profession 2</span> 
                                            </label>
                                            <label>
                                                <input type="checkbox" name="filter-3">
                                                <span>profession 3</span> 
                                            </label>
                                        </div>
                                    </div>
                                    </div>
                                  </mat-menu>
                            </th>
                            <td mat-cell *matCellDef="let visitor">
                                <span class="pr-6 whitespace-nowrap">
                                    {{ visitor.DESIGNATION }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- COUNTRY -->
                        <ng-container matColumnDef="COUNTRY">
                            <th mat-header-cell *matHeaderCellDef >
                                <div style="display:flex">
                                    <span  matTooltip="Filter" (click)="showMenu = !showMenu" matTooltipPosition="above" [matMenuTriggerFor]="menu" >
                                      <mat-icon style="font-size: 18px;margin: 0 6px 0 0;">filter_alt</mat-icon>
                                      </span>
                                    <span style="margin-top: 2px;"> Country </span>
                                   <span mat-sort-header sortActionDescription="Sort by COUNTRY" style="margin:7px 0 0 6px"></span>
                                 </div>

                                 <mat-menu  #menu="matMenu" [overlapTrigger]="false" [hasBackdrop]="true" [class.menu-visible]="showMenu" (closed)="showMenu = false">
                                    <div (click)="stopClickPropagation($event)">
                                      <div id="filter-box">
                                        <div style="border-radius: 10px;border: 1px solid #d7d7d7;padding: 5px 0px 5px 6px;">
                                            <input class="searchInput" type="search" placeholder="Search...">
                                            <span class="searchIcon">
                                                <mat-icon style="position: relative;top: 4px;" class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                            </span>
                                        </div>
                                        <div style="margin: 10px 1px 1px 8px;">
                                            <label>
                                                <input type="checkbox" name="filter-1"> 
                                                <span>My profession Name 1</span> 
                                            </label>
                                            <label>
                                                <input type="checkbox" name="filter-2"> 
                                                <span>My profession Name 2</span> 
                                            </label>
                                            <label>
                                                <input type="checkbox" name="filter-3">
                                                <span>My profession Name 3</span> 
                                            </label>
                                        </div>
                                    </div>
                                    </div>
                                  </mat-menu>
                            </th>
                            <td mat-cell *matCellDef="let visitor">
                                <span class="pr-6 whitespace-nowrap">
                                    {{ visitor.COUNTRY }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- CITY -->
                        <ng-container matColumnDef="CITY">
                            <th mat-header-cell *matHeaderCellDef >
                                <div style="display:flex">
                                    <span  matTooltip="Filter" (click)="showMenu = !showMenu" matTooltipPosition="above" [matMenuTriggerFor]="menu" >
                                      <mat-icon style="font-size: 18px;margin: 0 6px 0 0;">filter_alt</mat-icon>
                                      </span>
                                    <span style="margin-top: 2px;"> City </span>
                                   <span mat-sort-header sortActionDescription="Sort by CITY" style="margin:7px 0 0 6px"></span>
                                 </div>

                                 <mat-menu  #menu="matMenu" [overlapTrigger]="false" [hasBackdrop]="true" [class.menu-visible]="showMenu" (closed)="showMenu = false">
                                    <div (click)="stopClickPropagation($event)">
                                      <div id="filter-box">
                                        <div style="border-radius: 10px;border: 1px solid #d7d7d7;padding: 5px 0px 5px 6px;">
                                            <input class="searchInput" type="search" placeholder="Search...">
                                            <span class="searchIcon">
                                                <mat-icon style="position: relative;top: 4px;" class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                            </span>
                                        </div>
                                        <div style="margin: 10px 1px 1px 8px;">
                                            <label>
                                                <input type="checkbox" name="filter-1"> 
                                                <span>My profession Name 1</span> 
                                            </label>
                                            <label>
                                                <input type="checkbox" name="filter-2"> 
                                                <span>My profession Name 2</span> 
                                            </label>
                                            <label>
                                                <input type="checkbox" name="filter-3">
                                                <span>My profession Name 3</span> 
                                            </label>
                                        </div>
                                    </div>
                                    </div>
                                  </mat-menu>
                            </th>
                            <td mat-cell *matCellDef="let visitor">
                                <span class="pr-6 whitespace-nowrap">
                                    {{ visitor.CITY }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- ACTIVE -->
                        <ng-container matColumnDef="ACTIVE">
                            <th mat-header-cell *matHeaderCellDef >
                                <div style="display:flex">
                                    <span  matTooltip="Filter" (click)="showMenu = !showMenu" matTooltipPosition="above" [matMenuTriggerFor]="menu" >
                                      <mat-icon style="font-size: 18px;margin: 0 6px 0 0;">filter_alt</mat-icon>
                                      </span>
                                    <span style="margin-top: 2px;"> Active </span>
                                   <span mat-sort-header sortActionDescription="Sort by DESIGNATION" style="margin:7px 0 0 6px"></span>
                                 </div>

                                 <mat-menu  #menu="matMenu" [overlapTrigger]="false" [hasBackdrop]="true" [class.menu-visible]="showMenu" (closed)="showMenu = false">
                                    <div (click)="stopClickPropagation($event)">
                                      <div id="filter-box">
                                        <div style="border-radius: 10px;border: 1px solid #d7d7d7;padding: 5px 0px 5px 6px;">
                                            <input class="searchInput" type="search" placeholder="Search...">
                                            <span class="searchIcon">
                                                <mat-icon style="position: relative;top: 4px;" class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                            </span>
                                        </div>
                                        <div style="margin: 10px 1px 1px 8px;">
                                            <label>
                                                <input type="checkbox" name="filter-1"> 
                                                <span>My profession Name 1</span> 
                                            </label>
                                            <label>
                                                <input type="checkbox" name="filter-2"> 
                                                <span>My profession Name 2</span> 
                                            </label>
                                            <label>
                                                <input type="checkbox" name="filter-3">
                                                <span>My profession Name 3</span> 
                                            </label>
                                        </div>
                                    </div>
                                    </div>
                                  </mat-menu>
                            </th>
                            <td mat-cell *matCellDef="let visitor">
                                <span class="pr-6 whitespace-nowrap">
                                    <ng-container *ngIf="visitor.ACTIVE">
                                        <mat-icon
                                            class="text-green-400 icon-size-5"
                                            [svgIcon]="
                                                'heroicons_solid:check'
                                            "
                                        ></mat-icon>
                                    </ng-container>
                                    <ng-container *ngIf="!visitor.ACTIVE">
                                        <mat-icon
                                            class="text-gray-400 icon-size-5"
                                            [svgIcon]="'heroicons_solid:x'"
                                        ></mat-icon>
                                    </ng-container>
                                </span>
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="visitorsTableColumns"
                        ></tr>
                        <tr
                            class="order-row h-16"
                            mat-row
                            *matRowDef="
                                let row;
                                columns: visitorsTableColumns
                            "
                        ></tr>
                    </table>
                </div>


               
            </ng-container>
        </ng-container>

        <ng-template #noVisitors>
            <div
                class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center"
            >
                There are no visitors data!
            </div>
        </ng-template>
    </div>
</div>
     <!-- user table end -->
       </ng-container>
    </div>
</div>