<!-- Detail and Delete Drawer  -->
<div class="flex flex-col p-6" style="padding-bottom: 110px !important">
    <mat-accordion class="mt-1" [multi]="true" #accordion="matAccordion">
        <ng-container>
            <!-- Primary Information -->
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header [collapsedHeight]="'56px'">
                    <mat-panel-title class="font-medium leading-tight"
                        >Primary Information</mat-panel-title
                    >
                </mat-expansion-panel-header>
                <mat-grid-list
                    gutterSize="16px"
                    [cols]="isScreenSmall ? 1 : 3"
                    rowHeight="100px"
                >
                    <!-- Name -->
                    <mat-grid-tile [colspan]="1">
                        <mat-form-field
                            class="flex-auto w-full"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label
                                ><span style="color: red">*</span>
                                Name</mat-label
                            >
                            <input
                                [(ngModel)]="DATA.NAME"
                                disabled
                                matInput
                                name="Name"
                                [placeholder]="'Name'"
                            />
                        </mat-form-field>
                    </mat-grid-tile>

                    <!-- Website -->
                    <mat-grid-tile [colspan]="1">
                        <mat-form-field
                            class="flex-auto w-full"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label
                                ><span style="color: red">*</span
                                >Website</mat-label
                            >
                            <input
                                [(ngModel)]="DATA.WEBSITE"
                                disabled
                                matInput
                                name="Website"
                                [placeholder]="'Website'"
                            />
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>

                <fieldset
                    style="width: 100%"
                    class="border-2 border-black rounded-3xl mb-5 p-5"
                >
                    <legend class="ml-5"><b>Address </b></legend>
                    <!-- Address1 -->
                    <mat-grid-list
                        gutterSize="16px"
                        [cols]="isScreenSmall ? 1 : 3"
                        rowHeight="100px"
                    >
                        <mat-grid-tile [colspan]="1">
                            <mat-form-field
                                class="flex-auto w-full"
                                [subscriptSizing]="'dynamic'"
                            >
                                <mat-label
                                    ><span style="color: red">*</span> Address
                                    Line 1</mat-label
                                >
                                <input
                                    [(ngModel)]="DATA.ADDRESS_LINE_1"
                                    disabled
                                    matInput
                                    name="ADDRESS_LINE_1"
                                    [placeholder]="'Address Line 1'"
                                />
                            </mat-form-field>
                        </mat-grid-tile>

                        <!-- Address2 -->
                        <mat-grid-tile [colspan]="1">
                            <mat-form-field
                                class="flex-auto w-full"
                                [subscriptSizing]="'dynamic'"
                            >
                                <mat-label>Address Line 2</mat-label>
                                <input
                                    [(ngModel)]="DATA.ADDRESS_LINE_2"
                                    disabled
                                    matInput
                                    name="ADDRESS_LINE_2"
                                    [placeholder]="'Address Line 1'"
                                />
                            </mat-form-field>
                        </mat-grid-tile>

                        <!-- City -->
                        <mat-grid-tile [colspan]="1">
                            <mat-form-field
                                class="flex-auto w-full"
                                [subscriptSizing]="'dynamic'"
                            >
                                <mat-label
                                    ><span style="color: red">*</span
                                    >City</mat-label
                                >
                                <input
                                    [(ngModel)]="DATA.CITY"
                                    disabled
                                    matInput
                                    name="CITY"
                                    [placeholder]="'City'"
                                />
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <mat-grid-list
                        gutterSize="16px"
                        [cols]="isScreenSmall ? 1 : 3"
                        rowHeight="100px"
                        [cols]="12"
                    >
                        <!-- State -->
                        <mat-grid-tile [colspan]="4">
                            <mat-form-field
                                class="flex-auto w-full"
                                [subscriptSizing]="'dynamic'"
                            >
                                <mat-label
                                    ><span style="color: red">*</span
                                    >State</mat-label
                                >
                                <mat-select
                                    [(ngModel)]="DATA.STATE"
                                    disabled
                                    name="STATE"
                                >
                                    <ng-container *ngFor="let state of studio">
                                        <mat-option [value]="state.ID">
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>

                        <!-- Country -->
                        <mat-grid-tile [colspan]="4">
                            <mat-form-field
                                class="flex-auto w-full"
                                [subscriptSizing]="'dynamic'"
                            >
                                <mat-label
                                    ><span style="color: red">*</span
                                    >Country</mat-label
                                >
                                <mat-select
                                    [(ngModel)]="DATA.COUNTRY"
                                    disabled
                                    name="COUNTRY"
                                >
                                    <ng-container
                                        *ngFor="let country of studio"
                                    >
                                        <mat-option [value]="country.ID">
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>

                        <!-- PIN/ZIP -->
                        <mat-grid-tile [colspan]="2">
                            <mat-form-field
                                class="flex-auto w-full"
                                [subscriptSizing]="'dynamic'"
                            >
                                <mat-label
                                    ><span style="color: red">*</span
                                    >PIN/ZIP</mat-label
                                >
                                <input
                                    [(ngModel)]="DATA.PIN"
                                    disabled
                                    matInput
                                    name="PIN"
                                    [placeholder]="'PIN/ZIP'"
                                />
                            </mat-form-field>
                        </mat-grid-tile>

                        <!-- Location -->
                        <mat-grid-tile [colspan]="2">
                            <mat-form-field
                                class="flex-auto w-full"
                                [subscriptSizing]="'dynamic'"
                            >
                                <mat-label
                                    ><span style="color: red">*</span>Geo
                                    Location</mat-label
                                >
                                <input
                                    [(ngModel)]="DATA.GEO_LOCATION"
                                    disabled
                                    matInput
                                    name="GEO_LOCATION"
                                    [placeholder]="'Select Location'"
                                />
                                <mat-icon matPrefix>location_on</mat-icon>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                </fieldset>
            </mat-expansion-panel>

            <!-- End Primary Information -->

            <!-- Connected Information -->

            <mat-expansion-panel
                style="padding: 0px !important"
                [expanded]="true"
            >
                <mat-expansion-panel-header [collapsedHeight]="'56px'">
                    <mat-panel-title class="font-medium leading-tight"
                        >Connected Information</mat-panel-title
                    >
                </mat-expansion-panel-header>

                <mat-grid-list [cols]="isScreenSmall ? 1 : 3" rowHeight="270px">
                    <!-- first list -->
                    <mat-grid-tile>
                        <div
                            style="height: 100%; width: 100%; padding: 0px 5px"
                        >
                            <mat-grid-list cols="1" rowHeight="50px">
                                <mat-grid-tile>
                                    <button
                                        mat-flat-button
                                        style="
                                            border-style: solid;
                                            border-width: thin;
                                            width: 96%;
                                            margin: 5px;
                                        "
                                    >
                                        Floor
                                    </button>
                                </mat-grid-tile>
                            </mat-grid-list>
                            <mat-grid-list cols="1" rowHeight="210px">
                                <mat-grid-tile>
                                    <ng-container>
                                        <div
                                            class="space-y-2"
                                            style="
                                                width: 100%;
                                                overflow-y: scroll;
                                                height: 200px;
                                                padding: 5px;
                                            "
                                            cdkTextareaAutosize
                                        >
                                            <!-- Card 1 -->
                                            <mat-card style="padding-top: 7px">
                                                <mat-grid-list
                                                    [cols]="6"
                                                    rowHeight="30px"
                                                >
                                                    <!-- <mat-grid-tile [colspan]="1">
                                                                <mat-checkbox style="
                                                                        margin-top: -8px;
                                                                    "></mat-checkbox>
                                                            </mat-grid-tile> -->
                                                    <mat-grid-tile
                                                        [colspan]="6"
                                                        class="detailed_card_content"
                                                    >
                                                        <b>Name</b>
                                                    </mat-grid-tile>
                                                    <!-- <mat-grid-tile [colspan]="2">
                                                            </mat-grid-tile>
                                                            <mat-grid-tile [colspan]="2">
                                                                <span>
                                                                    <mat-icon [matTooltip]="
                                                                            'Edit Information'
                                                                        " class="icon-size-5" [svgIcon]="
                                                                            'heroicons_solid:pencil-alt'
                                                                        "></mat-icon>
                                                                </span>

                                                                <span>
                                                                    <mat-icon [matTooltip]="
                                                                            'Delete Information'
                                                                        " class="icon-size-5" [svgIcon]="
                                                                            'heroicons_outline:trash'
                                                                        "></mat-icon>
                                                                </span>
                                                            </mat-grid-tile> -->

                                                    <!--  -->
                                                    <!-- <mat-grid-tile [colspan]="1"></mat-grid-tile> -->
                                                    <mat-grid-tile  class="detailed_card_content"
                                                        [colspan]="6"
                                                    >
                                                        Location
                                                    </mat-grid-tile>
                                                    <!-- <mat-grid-tile [colspan]="4">
                                                            </mat-grid-tile> -->
                                                    <!--  -->

                                                    <!--  -->
                                                    <!-- <mat-grid-tile [colspan]="1"></mat-grid-tile> -->
                                                    <mat-grid-tile  class="detailed_card_content"
                                                        [colspan]="2"
                                                        style="text-align: left"
                                                    >
                                                        Length
                                                    </mat-grid-tile>
                                                    <mat-grid-tile  class="detailed_card_content"
                                                        [colspan]="2"
                                                    >
                                                        Width
                                                    </mat-grid-tile>
                                                    <mat-grid-tile  class="detailed_card_content"
                                                        [colspan]="2"
                                                    >
                                                        Height
                                                    </mat-grid-tile>
                                                    <!--  -->
                                                </mat-grid-list>
                                            </mat-card>
                                            <!-- Card 1 End -->
                                            <br />

                                            <!-- Card 2 -->
                                            <mat-card style="padding-top: 7px">
                                                <mat-grid-list
                                                    [cols]="6"
                                                    rowHeight="30px"
                                                >
                                                    <!-- <mat-grid-tile [colspan]="1">
                                                                <mat-checkbox style="
                                                                        margin-top: -8px;
                                                                    "></mat-checkbox>
                                                            </mat-grid-tile> -->
                                                    <mat-grid-tile
                                                        [colspan]="6"
                                                        class="detailed_card_content"
                                                    >
                                                        <b>Name</b>
                                                    </mat-grid-tile>
                                                    <!-- <mat-grid-tile [colspan]="2">
                                                            </mat-grid-tile>
                                                            <mat-grid-tile [colspan]="2">
                                                                <span>
                                                                    <mat-icon [matTooltip]="
                                                                            'Edit Information'
                                                                        " class="icon-size-5" [svgIcon]="
                                                                            'heroicons_solid:pencil-alt'
                                                                        "></mat-icon>
                                                                </span>

                                                                <span>
                                                                    <mat-icon [matTooltip]="
                                                                            'Delete Information'
                                                                        " class="icon-size-5" [svgIcon]="
                                                                            'heroicons_outline:trash'
                                                                        "></mat-icon>
                                                                </span>
                                                            </mat-grid-tile> -->

                                                    <!--  -->
                                                    <!-- <mat-grid-tile [colspan]="1"></mat-grid-tile> -->
                                                    <mat-grid-tile
                                                        [colspan]="6"
                                                    >
                                                        Location
                                                    </mat-grid-tile>
                                                    <!-- <mat-grid-tile [colspan]="4">
                                                            </mat-grid-tile> -->
                                                    <!--  -->

                                                    <!--  -->
                                                    <!-- <mat-grid-tile [colspan]="1"></mat-grid-tile> -->
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                        style="text-align: left"
                                                    >
                                                        Length
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        Width
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        Height
                                                    </mat-grid-tile>
                                                    <!--  -->
                                                </mat-grid-list>
                                            </mat-card>
                                            <!-- Card 2 End -->
                                        </div>
                                    </ng-container>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-expansion-panel>

            <!-- End Connected Information -->

            <!-- Related Information -->

            <mat-expansion-panel
                style="padding: 0px !important"
                [expanded]="true"
            >
                <mat-expansion-panel-header [collapsedHeight]="'56px'">
                    <mat-panel-title class="font-medium leading-tight"
                        >Related Information</mat-panel-title
                    >
                </mat-expansion-panel-header>

                <mat-grid-list [cols]="isScreenSmall ? 1 : 3" rowHeight="270px">
                    <!-- first list -->
                    <mat-grid-tile>
                        <div
                            style="height: 100%; width: 100%; padding: 0px 5px"
                        >
                            <mat-grid-list cols="1" rowHeight="50px">
                                <mat-grid-tile>
                                    <button
                                        mat-flat-button
                                        style="
                                            border-style: solid;
                                            border-width: thin;
                                            width: 96%;
                                            margin: 5px;
                                        "
                                    >
                                        Schedules with Bays
                                    </button>
                                </mat-grid-tile>
                            </mat-grid-list>
                            <mat-grid-list cols="1" rowHeight="210px">
                                <mat-grid-tile>
                                    <ng-container>
                                        <div
                                            class="space-y-2"
                                            style="
                                                width: 100%;
                                                overflow-y: scroll;
                                                height: 200px;
                                                padding: 5px;
                                            "
                                            cdkTextareaAutosize
                                        >
                                            <!-- Card 1 -->
                                            <mat-card style="padding-top: 7px">
                                                <mat-grid-list
                                                    [cols]="6"
                                                    rowHeight="30px"
                                                >
                                                    <!-- <mat-grid-tile [colspan]="1">
                                                                    <mat-checkbox style="
                                                                            margin-top: -8px;
                                                                        "></mat-checkbox>
                                                                </mat-grid-tile> -->
                                                    <mat-grid-tile
                                                        [colspan]="6"
                                                        class="detailed_card_content"
                                                    >
                                                        <b>Name</b>
                                                    </mat-grid-tile>
                                                    <!-- <mat-grid-tile [colspan]="2">
                                                                </mat-grid-tile>
                                                                <mat-grid-tile [colspan]="2">
                                                                    <span>
                                                                        <mat-icon [matTooltip]="
                                                                                'Edit Information'
                                                                            " class="icon-size-5" [svgIcon]="
                                                                                'heroicons_solid:pencil-alt'
                                                                            "></mat-icon>
                                                                    </span>
    
                                                                    <span>
                                                                        <mat-icon [matTooltip]="
                                                                                'Delete Information'
                                                                            " class="icon-size-5" [svgIcon]="
                                                                                'heroicons_outline:trash'
                                                                            "></mat-icon>
                                                                    </span>
                                                                </mat-grid-tile> -->

                                                    <!--  -->
                                                    <!-- <mat-grid-tile [colspan]="1"></mat-grid-tile> -->
                                                    <mat-grid-tile
                                                        [colspan]="6"
                                                    >
                                                        Location
                                                    </mat-grid-tile>
                                                    <!-- <mat-grid-tile [colspan]="4">
                                                                </mat-grid-tile> -->
                                                    <!--  -->

                                                    <!--  -->
                                                    <!-- <mat-grid-tile [colspan]="1"></mat-grid-tile> -->
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                        style="text-align: left"
                                                    >
                                                        Length
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        Width
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        Height
                                                    </mat-grid-tile>
                                                    <!--  -->
                                                </mat-grid-list>
                                            </mat-card>
                                            <!-- Card 1 End -->
                                            <br />
                                            <!-- Card 2 -->
                                            <mat-card style="padding-top: 7px">
                                                <mat-grid-list
                                                    [cols]="6"
                                                    rowHeight="30px"
                                                >
                                                    <!-- <mat-grid-tile [colspan]="1">
                                                                    <mat-checkbox style="
                                                                            margin-top: -8px;
                                                                        "></mat-checkbox>
                                                                </mat-grid-tile> -->
                                                    <mat-grid-tile
                                                        [colspan]="6"
                                                        class="detailed_card_content"
                                                    >
                                                        <b>Name</b>
                                                    </mat-grid-tile>
                                                    <!-- <mat-grid-tile [colspan]="2">
                                                                </mat-grid-tile>
                                                                <mat-grid-tile [colspan]="2">
                                                                    <span>
                                                                        <mat-icon [matTooltip]="
                                                                                'Edit Information'
                                                                            " class="icon-size-5" [svgIcon]="
                                                                                'heroicons_solid:pencil-alt'
                                                                            "></mat-icon>
                                                                    </span>
    
                                                                    <span>
                                                                        <mat-icon [matTooltip]="
                                                                                'Delete Information'
                                                                            " class="icon-size-5" [svgIcon]="
                                                                                'heroicons_outline:trash'
                                                                            "></mat-icon>
                                                                    </span>
                                                                </mat-grid-tile> -->

                                                    <!--  -->
                                                    <!-- <mat-grid-tile [colspan]="1"></mat-grid-tile> -->
                                                    <mat-grid-tile
                                                        [colspan]="6"
                                                    >
                                                        Location
                                                    </mat-grid-tile>
                                                    <!-- <mat-grid-tile [colspan]="4">
                                                                </mat-grid-tile> -->
                                                    <!--  -->

                                                    <!--  -->
                                                    <!-- <mat-grid-tile [colspan]="1"></mat-grid-tile> -->
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                        style="text-align: left"
                                                    >
                                                        Length
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        Width
                                                    </mat-grid-tile>
                                                    <mat-grid-tile
                                                        [colspan]="2"
                                                    >
                                                        Height
                                                    </mat-grid-tile>
                                                    <!--  -->
                                                </mat-grid-list>
                                            </mat-card>
                                            <!-- Card 2 End -->
                                        </div>
                                    </ng-container>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </mat-grid-tile>
                    <!-- first list -->
                </mat-grid-list>
            </mat-expansion-panel>

            <!-- End Related Information -->
        </ng-container>
    </mat-accordion>
</div>

<!-- Actions -->

<!-- </fuse-drawer> -->

<!-- End Detail and Delete Drawer  -->
