.detailed_card_content .mat-grid-tile-content{
    justify-content: start !important;
    padding: 5px !important;
    align-items: center !important;
  
  }
    
  .mat-grid-tile-content{
    align-items: center !important;
  } 