<div class="flex flex-col p-6">
    <div class="flex flex-col w-full">
        <ng-container>
            <div class="relative flex flex-col flex-auto items-center px-3">
                <div class="w-full">
                    <form>
                        <!-- Name -->
                        <div class="mt-2">
                            <mat-grid-list
                                gutterSize="16px"
                                [cols]="isScreenSmall ? 1 : 3"
                                rowHeight="100px"
                                style="margin-bottom: 73px;"
                            >
                                <!-- Service Name -->
                                <mat-grid-tile [colspan]="1">
                                    <mat-form-field
                                        class="flex-auto w-full"
                                        [subscriptSizing]="'dynamic'"
                                    >
                                        <mat-label>
                                            <!-- <span style="color: red">*</span
                                            > -->
                                            Service Name</mat-label
                                        >
                                        <input
                                            matInput
                                            name="servicenm"
                                            [(ngModel)]="DATA.SERVICENAME"
                                            [placeholder]="'Service Name'"
                                        />
                                    </mat-form-field>
                                </mat-grid-tile>

                                <!-- Host Name -->
                                <mat-grid-tile [colspan]="1">
                                    <mat-form-field
                                        class="flex-auto w-full"
                                        [subscriptSizing]="'dynamic'"
                                    >
                                        <mat-label>
                                            <!-- <span style="color: red">*</span
                                            > -->
                                            Host Name</mat-label
                                        >
                                        <input
                                            matInput
                                            name="host"
                                            [(ngModel)]="DATA.HOSTNAME"
                                            [placeholder]="'Host Name'"
                                        />
                                    </mat-form-field>
                                </mat-grid-tile>

                                <!-- Port Number -->
                                <mat-grid-tile [colspan]="1">
                                    <mat-form-field
                                        class="flex-auto w-full"
                                        [subscriptSizing]="'dynamic'"
                                    >
                                        <mat-label>
                                            <!-- <span style="color: red">*</span
                                            > -->
                                            Port Number</mat-label
                                        >
                                        <input
                                            matInput
                                            name="portno"
                                            type="number"
                                            [(ngModel)]="DATA.PORTNUMBER"
                                            [placeholder]="'Port Number'"
                                        />
                                    </mat-form-field>
                                </mat-grid-tile>

                                <!-- SSL Enabled -->

                                <mat-grid-tile [colspan]="1">
                                    <div
                                        style="
                                            margin-right: 203px;
                                            margin-bottom: 44px;
                                        "
                                    >
                                        <mat-checkbox
                                            name="enabled"
                                            [(ngModel)]="DATA.SSEnabled"
                                            >SSL Enabled</mat-checkbox
                                        >
                                    </div>
                                </mat-grid-tile>

                                <!-- Authentication Type -->

                                <mat-grid-tile [colspan]="1">
                                    <mat-form-field
                                        class="flex-auto w-full"
                                        [subscriptSizing]="'dynamic'"
                                    >
                                        <mat-label>
                                            <!-- <span style="color:red;">*</span> -->
                                            Authentication Type</mat-label
                                        >
                                        <mat-select
                                            name="abc"
                                            [(ngModel)]="
                                                DATA.AUTHENTICATIONTYPE
                                            "
                                        >
                                            <!-- <ng-container>
                                            <option value="Pass">Password</option>
                                            <option value="login">Login</option>
                                            <option value="plain">Plain</option>
                                            <option value="XOAuth">XOAuth</option>
                                            <option value="XOAuth2">XOAuth2</option>
    

                                        </ng-container> -->

                                            <ng-container
                                                *ngFor="let abc of dataList"
                                            >
                                                <mat-option
                                                    [value]="
                                                        abc.AUTHENTICATIONTYPE
                                                    "
                                                >
                                                    {{ abc.AUTHENTICATIONTYPE }}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-grid-tile>

                                <!-- Login URL -->
                                <mat-grid-tile [colspan]="1">
                                    <mat-form-field
                                        class="flex-auto w-full"
                                        [subscriptSizing]="'dynamic'"
                                    >
                                        <mat-label>
                                            <!-- <span style="color: red">*</span
                                            > -->
                                            Login URL</mat-label
                                        >
                                        <input
                                            matInput
                                            name="Loginurl"
                                            [(ngModel)]="DATA.LOGINURL"
                                            [placeholder]="'Login URL'"
                                        />
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </form>
                </div>
            </div>
        </ng-container>
    </div>
    <!-- Actions -->
    <div
        style="width: 102%; position: absolute; bottom: 0px"
        class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent"
    >
        <!-- Delete -->
        <!-- <button
            mat-button
            [color]="'warn'"
            [matTooltip]="'Delete'"
            (click)="deleteContact()"
        >
            Delete
        </button> -->
        <!-- Cancel -->
        <button class="ml-auto" mat-button (click)="closeDrawer()">
            Cancel
        </button>
        <!-- Save -->
        <button
            class="ml-2"
            mat-flat-button
            [color]="'primary'"
            (click)="Save()"
        >
            <span *ngIf="DATA.ID == undefined || DATA.ID == 0">Save</span>
            <span *ngIf="DATA.ID != undefined && DATA.ID > 0">Update</span>
        </button>
    </div>
</div>
