<div class="flex  h-4/5 overflow-scroll p-6">
    <div class="flex flex-col w-full">
        <ng-container>
            <div class="relative flex flex-col flex-auto items-center px-3">
                <div class="w-full">
                    <form>
                        <!-- Name -->
                        <div class="mt-2 ">
                            <mat-grid-list gutterSize="16px" [cols]="isScreenSmall ? 1 : 2" rowHeight="100px">
                                <mat-grid-tile [colspan]="1">
                                    <mat-form-field class="flex-auto w-full" [subscriptSizing]="'dynamic'">
                                        <mat-label><span style="color:red;">*</span> Name</mat-label>
                                        <input matInput name="Name" [placeholder]="'Name'" />
                                    </mat-form-field>
                                </mat-grid-tile>

                                <!-- Title -->
                                <mat-grid-tile [colspan]="1">
                                    <mat-form-field class="flex-auto w-full" [subscriptSizing]="'dynamic'">
                                        <mat-label><span style="color:red;">*</span>Emaill ID</mat-label>
                                        <input matInput name="Emaill" [placeholder]="'Emaill'" />
                                    </mat-form-field>
                                </mat-grid-tile>


                            </mat-grid-list>

                            <mat-grid-list gutterSize="16px" [cols]="isScreenSmall ? 1 : 2" rowHeight="100px">
                                <mat-grid-tile [colspan]="1">
                                    <mat-form-field class=" w-full" [subscriptSizing]="'dynamic'">
                                        <mat-label><span style="color:red;">*</span> Phone No.</mat-label>
                                        <input matInput name="Phone" [placeholder]="'Phone No.'" />
                                    </mat-form-field><br>
                                </mat-grid-tile>


                                <!-- Title -->
                                <mat-grid-tile [colspan]="1">
                                    <mat-form-field class=" w-full" [subscriptSizing]="'dynamic'">
                                        <mat-label><span style="color:red;">*</span>WhatsApp No.</mat-label>
                                        <input matInput name="WhatsApp" [placeholder]="'WhatsApp ID'" />
                                    </mat-form-field>
                                </mat-grid-tile>



                            </mat-grid-list>
                            <span class="inline-flex items-center justify-between w-full ">
                                <mat-checkbox
                                    class="-ml-2"
                                    [color]="'primary'"
                                    [formControlName]="'rememberMe'">
                                    This is WhatsApp No.
                                </mat-checkbox>
                            </span>
                            

                            <mat-grid-list gutterSize="16px" [cols]="isScreenSmall ? 1 : 2" rowHeight="100px">
                                <mat-grid-tile [colspan]="1">
                                    <mat-form-field class="flex-auto w-full" [subscriptSizing]="'dynamic'">
                                        <mat-label><span style="color:red;">*</span> Date</mat-label>
                                        <input matInput [matDatepicker]="picker">
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </mat-grid-tile>

                                <!-- Title -->
                                <mat-grid-tile [colspan]="1">
                                    <mat-form-field class="flex-auto w-full" [subscriptSizing]="'dynamic'">
                                        <mat-label><span style="color:red;">*</span>Company Name</mat-label>
                                        <input matInput name="Company" [placeholder]="'Company'" />
                                    </mat-form-field>
                                </mat-grid-tile>


                            </mat-grid-list>


                            <mat-grid-list gutterSize="16px" [cols]="isScreenSmall ? 1 : 2" rowHeight="100px">
                                <mat-grid-tile [colspan]="1">
                                    <mat-form-field class="flex-auto w-full" [subscriptSizing]="'dynamic'">
                                        <mat-label><span style="color:red;">*</span> Password</mat-label>
                                        <input matInput name="Password" [placeholder]="'Password'" />
                                    </mat-form-field>
                                </mat-grid-tile>

                                <!-- Title -->
                                <mat-grid-tile [colspan]="1">
                                    <mat-form-field class="flex-auto w-full" [subscriptSizing]="'dynamic'">
                                        <mat-label><span style="color:red;">*</span>Confirm Password </mat-label>
                                        <input matInput name="Confirm_Password" [placeholder]="'Confirm_Password'" />
                                    </mat-form-field>
                                </mat-grid-tile>


                            </mat-grid-list>


                        </div>
                    </form>
                </div>
            </div>
        </ng-container>
    </div>

    <div style="width: 102%; position: absolute; bottom: 0px"
        class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">

        <button class="ml-auto" mat-button (click)="closeDrawer()">
            Cancel
        </button>
        <!-- Save -->
        <button class="ml-2" mat-flat-button [color]="'primary'" (click)="Save()">
            <span>Next</span>

        </button>
    </div>
</div>