<div class="flex flex-col p-6">
    <div class="flex flex-col w-full">
        <ng-container>
            <div class="relative flex flex-col flex-auto items-center px-3">
                <div class="w-full">
                    <form  #wpform="ngForm">
                        <!-- Name -->
                        <div class="mt-2">
                            <mat-grid-list
                                gutterSize="16px"
                                [cols]="isScreenSmall ? 1 : 3"
                                rowHeight="100px"
                                style="margin-bottom: 73px"
                            >
                                <!-- Title -->
                                <mat-grid-tile [colspan]="1">
                                    <mat-form-field
                                        class="flex-auto w-full"
                                        [subscriptSizing]="'dynamic'"
                                    >
                                        <mat-label>
                                            <span style="color: red">*</span>
                                            Name</mat-label
                                        >
                                        <input
                                            matInput
                                            required
                                            #baseInput="ngModel"
                                            name="servicenm"
                                            [(ngModel)]="DATA.NAME"
                                            [placeholder]="'Name'"
                                        />
                                        <mat-error
                                            *ngIf="
                                                baseInput.invalid &&
                                                (baseInput.dirty ||
                                                    baseInput.touched)
                                            "
                                        >
                                            <span
                                                *ngIf="
                                                    baseInput.errors?.required
                                                "
                                                >Name is required.</span
                                            >
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>

                                <!-- Title -->
                                <mat-grid-tile [colspan]="1">
                                    <mat-form-field
                                        class="flex-auto w-full"
                                        [subscriptSizing]="'dynamic'"
                                    >
                                        <mat-label>
                                            <span style="color: red">*</span>
                                            Base URL</mat-label
                                        >
                                        <input
                                            matInput
                                            name="host"
                                            required
                                            #baseInput1="ngModel"
                                            [(ngModel)]="DATA.BaseUrl"
                                            [placeholder]="'https://'"
                                        />
                                        <mat-error
                                        *ngIf="
                                            baseInput1.invalid &&
                                            (baseInput1.dirty ||
                                                baseInput1.touched)
                                        "
                                    >
                                        <span
                                            *ngIf="
                                                baseInput1.errors?.required
                                            "
                                            >Base Url is required.</span
                                        >
                                    </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile [colspan]="1">
                                    <mat-form-field
                                        class="flex-auto w-full"
                                        [subscriptSizing]="'dynamic'"
                                    >
                                        <mat-label>
                                            Authentication Header</mat-label
                                        >
                                        <input
                                            matInput
                                            name="portno"
                                            [(ngModel)]="
                                                DATA.AuthenticationHeader
                                            "
                                            [placeholder]="
                                                'Authentication Header'
                                            "
                                        />
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile
                                    [rowspan]="2"
                                    [colspan]="isScreenSmall ? 1 : 2"
                                >
                                    <mat-form-field style="width: 792px">
                                        <mat-label> Headers</mat-label>
                                        <textarea
                                            matInput
                                            name="Headers"
                                            rowspan="2"
                                            cols="20"
                                            rows="6"
                                            placeholder=" Headers"
                                            [(ngModel)]="DATA.Headers"
                                        ></textarea>
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile [colspan]="1">
                                    <mat-form-field
                                        class="flex-auto w-full"
                                        [subscriptSizing]="'dynamic'"
                                    >
                                        <mat-label>
                                            <span style="color: red">*</span>
                                            Method</mat-label
                                        >
                                        <mat-select
                                            name="abc"
                                            [(ngModel)]="DATA.Method"
                                        >
                                         
                                            <ng-container
                                                *ngFor="let abc of dataList"
                                            >
                                                <mat-option
                                                    [value]="abc.Method"
                                                >
                                                    {{ abc.Method }}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile [colspan]="1">
                                    <mat-form-field
                                        class="flex-auto w-full"
                                        [subscriptSizing]="'dynamic'"
                                    >
                                        <mat-label>
                                            <!-- <span style="color: red">*</span -->

                                            Body</mat-label
                                        >
                                        <input
                                            matInput
                                            name="host"
                                            [(ngModel)]="DATA.Body"
                                            [placeholder]="'https://'"
                                        />
                                    </mat-form-field>
                                </mat-grid-tile>

                                <!-- <mat-grid-tile [colspan]="1">
                                

                                    <div
                                        style="
                                                margin-right: 266px;
                                            margin-bottom: 44px;
                                        "
                                    >
                                        <mat-checkbox
                                            name="enabled"
                                            [(ngModel)]="DATA.primary"
                                            ><b>Is Primary</b></mat-checkbox
                                        >
                                    </div>
                                </mat-grid-tile> -->
                            </mat-grid-list>
                        </div>
                    </form>
                </div>
            </div>
        </ng-container>
    </div>
    <!-- Actions -->
    <div
        style="width: 102%; position: absolute; bottom: 0px"
        class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent"
    >
        <!-- Delete -->
        <!-- <button
            mat-button
            [color]="'warn'"
            [matTooltip]="'Delete'"
            (click)="deleteContact()"
        >
            Delete
        </button> -->
        <!-- Cancel -->
        <button class="ml-auto" mat-button (click)="closeDrawer(wpform)">
            Cancel
        </button>
        <!-- Save -->
        <button
            class="ml-2"
            mat-flat-button
            [color]="'primary'"
            (click)="Save(wpform)"
        >
            <span *ngIf="DATA.ID == undefined || DATA.ID == 0">Save</span>
            <span *ngIf="DATA.ID != undefined && DATA.ID > 0">Update</span>
        </button>
    </div>
</div>
